h1, h2, h3, h4 {
	font-family: 'AGENCYB';
}
/**** navigation *****/
.header-title{
	font-size: 50px;
	padding: 15px;
	text-align: center;
}
nav.navbar{
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #ff2f92;
}
ul.nav li.nav-item a{
	padding:15px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
ul.nav li.nav-item a.create{
	text-transform: capitalize;
	border: 2px solid #fff;
	padding: 7px 15px;
	border-radius: 30px;
}
ul.nav li.nav-item.active a{
	background-color: #cc2675;
}
ul.nav li.nav-item a.profile-img{
	padding: 0px;
	margin-right: 15px;
}
ul.nav li.nav-item a img{
	height: 45px;
	width: 45px;
	border-radius: 50%;
}
.dropdown-toggle::after{
	display: none;
}
ul.nav li.nav-item a.dropdown-item{
	color: #ff2f92;
	text-transform: lowercase;
	font-size: 16px;
	text-transform: capitalize;
}
ul.nav li.nav-item a.dropdown-item:hover{
	background-color: #ff2f92;
	color: #fff;
}
ul.nav li.nav-item a.dropdown-item i{
	margin-right: 5px;
}
ul.nav li.nav-item .dropdown-menu h3{
	font-size: 20px;
}



a, a:hover{
	text-decoration: none;
	color: #222222;
}
.login.background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background: url(../background-image-3.jpg);
	background-size: cover;
}
.login{
	margin: auto 0;
}
.login-wrapper{
	z-index: 2;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 40%;
	margin: 10% 30%;
}
.login-wrapper h3{
	text-align: center;
	margin: 20px 0px 0px 0px;
	color: white;
}
.login-wrapper form{
	padding: 25px;
}
.login-wrapper form input[type='email'], .login-wrapper form input[type='password'], .login-wrapper form input[type='text']{
	border-radius: 0px;
	border: 1.5px solid #ff2f92;
	background: #f9f9ff;
}
.login-wrapper form input[type='email']:focus, .login-wrapper form input[type='password']:focus, .login-wrapper form input[type='text']:focus{
	box-shadow: none;
}
.login-wrapper form div.form-group label{
	color: whitesmoke;
}
.login-wrapper form p{
	color: whitesmoke;
	margin-top: 0px;
}
.login-wrapper form p a{
	text-decoration: none;
	color: #007bff;
}
.login-wrapper form button#login-button, #signup-button{
	color: #fff;
	background: #ff2f92;
	border-radius: 0px;
	border: none;
}
#register{
	background: transparent;
	border: none;
}
#reset-password{
	background: transparent;
	border: none;
}
#login-button, #signup-button{
	margin-left: 40%;
}
.text-white{
	background: #228B22;
	color: #fff;
	width: 50%;
	text-align: center;
}
.loader-body {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}
@media(max-width: 800px){
	#login-button, #signup-button{
		margin: auto;
	}
}
.login-wrapper form .other-links{
	overflow: auto;
}
.login-wrapper hr.separator{
	color: #fff;
	width: 92%;
	margin: auto;
	height: 1px;
}
.login-wrapper p.social-text{
	text-align: center;
	margin-top: 15px;
	color: #fff;
}
.login-wrapper div.social{
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}
.login-wrapper div.social button{
	padding: 8px 8px 2px 8px !important;
	margin: 0px 10px;
}
.login-wrapper div.social button span{
	display: none;
}
.login-wrapper div.social button div{
	padding: 0px !important;
	margin: 0px !important;
}
button.kep-login-facebook.metro{
	padding: 0px !important;
}

input[type='file'] {
	opacity: 0;
	position: absolute;
}
.ourdp{
	height: 150px;
	width: 150px;

}
.ouredit{
	margin-left: 15px;
}
.spinner{
	float: left;
	margin-left: 70px;
}
